@tailwind base;
@tailwind components;
@tailwind utilities;

#cwgi_box {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', serif;
  tab-size: 2;

  @apply cwgi-text-neutral-700 dark:cwgi-text-neutral-200 cwgi-min-w-[320px];

  @media (prefers-color-scheme: dark) {
    .astro-code-themes,
    .astro-code-themes span {
      color: var(--shiki-dark) !important;
      background-color: transparent !important;
    }

    .shiki-themes,
    .shiki-themes span {
      color: var(--shiki-dark) !important;
      background-color: transparent !important;
    }
  }

  @keyframes slideUp_offset {
    0% {
      transform: translateY(10px) translateX(-50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0) translateX(-50%);
      opacity: 1;
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(5px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.cwgi-popup-border {
  @apply cwgi-border dark:cwgi-border-neutral-700 cwgi-border-neutral-200 cwgi-border-l-neutral-100 cwgi-border-t-neutral-100 dark:cwgi-border-l-neutral-600 dark:cwgi-border-t-neutral-600;
}

.cwgi-user-info {
  &:after {
    display: none;
    content: '';
  }

  text-decoration: none;

  img.cwgi-user-avatar {
    margin-bottom: 0;
  }

  @apply cwgi-text-black dark:cwgi-text-white cwgi-no-underline;

  &:hover {
    @apply cwgi-bg-transparent cwgi-text-black dark:cwgi-text-white;
  }
}

.cwgi-page-content {
  @apply cwgi-pb-8 cwgi-hyphens-auto;

  img {
    @apply cwgi-max-w-full cwgi-mb-6 cwgi-block cwgi-mx-auto cwgi-rounded-xl;
  }

  video {
    @apply cwgi-max-w-full cwgi-w-full cwgi-mb-6 cwgi-block cwgi-mx-auto cwgi-rounded-xl;
  }

  .table-wrap {
    @apply cwgi-overflow-auto;
  }

  blockquote {
    @apply cwgi-pl-3 cwgi-pt-3 cwgi-mb-4 cwgi-relative;

    &:before {
      content: "";
      @apply cwgi-block cwgi-w-[3px] cwgi-rounded cwgi-h-full cwgi-absolute cwgi-left-[-3px] cwgi-top-0 dark:cwgi-bg-neutral-500 cwgi-bg-neutral-400;
    }

    p {
      @apply cwgi-pb-3 cwgi-leading-7 cwgi-mb-0;
    }
  }

  table {
    @apply cwgi-border-collapse cwgi-w-full cwgi-mb-6 cwgi-border-t-[1px] cwgi-border-l-[1px] cwgi-border-neutral-500;

    th,
    td {
      @apply cwgi-border-r-[1px] cwgi-border-b-[1px] cwgi-border-neutral-500 cwgi-px-4 cwgi-py-2;
    }
  }

  hr {
    @apply cwgi-my-8 cwgi-w-[10rem] cwgi-mx-auto dark:cwgi-bg-neutral-700 cwgi-bg-neutral-400 cwgi-border-none cwgi-h-[1px];
  }

  ul,
  ol {
    @apply cwgi-list-disc cwgi-list-outside cwgi-pl-6 cwgi-pb-6;

    li {
      @apply cwgi-mb-1 cwgi-leading-7 cwgi-relative;

      p {
        @apply cwgi-mb-2;
      }

      &::marker {
        @apply cwgi-absolute cwgi-left-0 cwgi-block;
      }
    }
  }

  ol {
    @apply cwgi-list-decimal;
  }

  img {
    @apply sm:cwgi-max-w-full cwgi-mb-6 cwgi-block sm:cwgi-mx-auto sm:cwgi-rounded-xl cwgi-ml-[-1rem] cwgi-w-auto cwgi-max-w-[calc(100%+2rem)] cwgi-rounded-none;
  }

  p {
    @apply cwgi-text-base cwgi-leading-8 cwgi-mb-6;

    img {
      @apply sm:cwgi-max-w-full cwgi-mb-6 cwgi-block sm:cwgi-mx-auto sm:cwgi-rounded-xl cwgi-ml-[-1rem] cwgi-w-auto cwgi-max-w-[calc(100%+2rem)] cwgi-rounded-none;
    }

    video {
      @apply sm:cwgi-max-w-full cwgi-mb-6 cwgi-block sm:cwgi-mx-auto sm:cwgi-rounded-xl cwgi-ml-[-1rem] cwgi-max-w-[calc(100%+2rem)] cwgi-w-[calc(100%+2rem)] cwgi-rounded-none;
    }
  }

  a {
    @apply cwgi-underline cwgi-underline-offset-4 hover:cwgi-text-white hover:cwgi-bg-black dark:hover:cwgi-bg-white dark:hover:cwgi-text-black dark:cwgi-text-white cwgi-text-black cwgi-rounded-[2px];

    &[target='_blank'] {
      @apply after:cwgi-content-['↗'];
    }
  }

  h1 {
    @apply cwgi-text-3xl cwgi-leading-9 cwgi-font-extrabold cwgi-mb-6 cwgi-relative;

    &::before {
      content: 'h1';
      font-size: 50%;
      @apply cwgi-opacity-60 cwgi-inline-block;
    }
  }

  h2 {
    @apply cwgi-text-2xl cwgi-leading-9 cwgi-font-semibold cwgi-mb-4 cwgi-mt-[3rem] cwgi-relative;

    &::before {
      content: 'h2';
      font-size: 50%;
      @apply cwgi-opacity-60 cwgi-inline-block;
    }
  }

  h3 {
    @apply cwgi-text-xl cwgi-leading-8 cwgi-font-semibold cwgi-mb-2 cwgi-mt-4 cwgi-relative;

    &::before {
      content: 'h3';
      font-size: 50%;
      @apply cwgi-opacity-60 cwgi-inline-block;
    }
  }

  h4 {
    @apply cwgi-text-lg cwgi-leading-7 cwgi-font-semibold cwgi-mb-1 cwgi-mt-2 cwgi-relative;

    &::before {
      content: 'h4';
      font-size: 50%;
      @apply cwgi-opacity-60 cwgi-inline-block;
    }
  }

  h5 {
    @apply cwgi-text-base cwgi-leading-6 cwgi-font-semibold cwgi-mb-2;

    &::before {
      content: 'h5';
      font-size: 50%;
      @apply cwgi-opacity-60 cwgi-inline-block;
    }
  }

  h6 {
    @apply cwgi-text-base cwgi-leading-6 cwgi-font-semibold cwgi-mb-2;

    &::before {
      content: 'h6';
      font-size: 50%;
      @apply cwgi-opacity-60 cwgi-inline-block;
    }
  }

  code {
    &:before {
      content: '`';
      display: inline;
    }

    &:after {
      content: '`';
      display: inline;
    }

    @apply cwgi-bg-transparent cwgi-mx-0 cwgi-font-extrabold cwgi-text-black dark:cwgi-text-white cwgi-text-sm cwgi-break-all sm:cwgi-break-normal sm:cwgi-whitespace-pre-wrap
  }

  .astro-code {
    background-color: transparent !important;
  }

  pre {
    border: none;
    background-color: transparent !important;
    font-size: 0.875rem;
    @apply cwgi-leading-6 cwgi-px-0 cwgi-py-0 cwgi-pb-4 cwgi-bg-transparent cwgi-mx-0;

    code {
      &:before {
        content: '';
        display: none;
      }

      &:after {
        content: '';
        display: none;
      }

      @apply cwgi-text-sm cwgi-leading-6 cwgi-px-0 cwgi-py-0 cwgi-rounded cwgi-bg-transparent cwgi-mx-0 cwgi-font-normal cwgi-break-normal sm:cwgi-whitespace-pre;
    }
  }
}

.cwgi-comment-content.cwgi-page-content {
  pre {
    background-color: transparent !important;
    max-width: 100%;
    overflow: auto;
    font-size: 0.875rem;
  }
}
